    .rbc-btn-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .rbc-today {
        background-color:  #f3fff1;
      
        border-radius: 4px;
    }


    .selected-slot{
        background-color: #c5fdc8;
        color: "black";
        border-radius: 10%;
    }
