
.MenuOptions {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding: 0% 5% 0% 5%;
}

.Buttons {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
    
}
.LogIn {
    display: flex;
    color: black;
    font-size: medium;
    padding-right: 2%;
}

.SignUp {
    border-radius: 6px;
    padding: 1%;
    color: white;
    background-color: rgb(111, 171, 38);
}

.SignUp:hover {
    background-color: rgb(120,203,49);
}

.CenterContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    overflow-y: scroll;
}

.TextContainer {
    display: flex;
    flex-direction: column;
    width: 50vh;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.CardContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    box-sizing: border-box;
}

.Card {
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
    width: 40vh;
    height: fit-content;
    border-radius: 24px;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    margin: 2%;
}

.CardIcon {
    padding: 0% 2% 0% 2%;
    display: block;
    width: 5vh;
}

.CardIcon > img {
    aspect-ratio: 1 / 1;
    display: flex;
    max-width: 100%;
}

.CardText {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.CardText > h4 {
    display: flex;
    font-weight: inherit;
    color: rgb(39, 39, 39);
    font-size: medium;
    margin: 0;
    text-align: left;
    padding: 2% 0% 2% 0%;
}

.CardText > h5 {
    display: flex;
    font-weight: inherit;
    color: rgb(116, 116, 116);
    font-size: medium;
    text-align: left;
    margin: 0;
    padding: 2% 0% 2% 0%;
}
.personalized-button {
    background-color: #Cdfbc4;  
    color: black; 
    border-radius: 10%;
    border: 3px solid #Cdfbc4;
  }